<div class="jumbotron text-center">
  <h1 class="display-3">{{title}}</h1>
  <p class="lead">Monitor the status of vehicles</p>
  <a href="/ideas/add" class="btn btn-dark btn-lg">Add new info</a>
</div>